<!DOCTYPE html>
    <br>
    <footer class="bs-docs-footer" role="contentinfo">
        <div class="container">
            <p class="text-center" id="footer">Powered by <a>Yang Kefan</a>. All rights reserved.</p>
        </div>
    </footer>
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>