<!DOCTYPE html>
<% include header.ejs %>
<div class="container">
    <p class="text-center">
        <a href="/myclub"><button class="btn btn-info">我的社团</button></a>
    </p>
</div>
<% include footer.ejs %>
